@use "@ngxpert/hot-toast/src/styles/styles.scss";
@use "sanitize.css/sanitize.css";
@use "theme/variables";
@use "theme/base";
@use "theme/layout";
@use "theme/mixins";
@use "theme/overrides";
@use "theme/utilities";
@use "theme/theme";

@use "tailwindcss";
@use "primeicons/primeicons.css";
